.App-container {
	background-color: #e5e5e5;
	border-top: 6px solid #6809e1;
	transition: all 0.3s ease-in-out;
}

.App {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-height: auto;
	max-width: 128rem;
	background-color: #fff;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
	color: #572ee5;
	transition: all 0.3s ease-in-out;
}

.App-container.dark {
	background-color: #111;
	transition: all 0.3s ease-in-out;
}

div.dark,
input.dark,
h2.dark,
h3.dark {
	color: #eee;
	background-color: #222;

	transition: all 0.3s ease-in-out;
}
