.Autocomplete {
	display: flex;
	margin: 0 auto 2rem;
	border: 1px solid #572ee5;
	border-radius: 1rem;
	background-color: #eee;
	width: 65rem;
	position: relative;
	z-index: 1000;
	overflow: hidden;
	align-items: start;
}

.Autocomplete.hide {
	opacity: 0;
}

.Autocomplete ul {
	width: 100%;
	transition: all 0.2s ease-out;
}

.Autocomplete li {
	display: block;
	padding: 1rem;
	list-style: none;
	cursor: pointer;
	font-size: 2rem;
	transition: all 0.2s ease-out;
}

.Autocomplete li:hover {
	background-color: #bbb;
}
