@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './darkTheme.css';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
	position: relative;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
